
.swiper-leagues {
  overflow: hidden;
}

.swiper-leagues .swiper-slide:first-child {
  margin-left: 10px;
}

.swiper-leagues .swiper-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.swiper-leagues .swiper-slide:last-child {
  margin-right: 10px;
}

@media screen and (min-width: 680px) {
  .swiper-leagues .swiper-wrapper {
    justify-content: center;
  }
}

@media screen and (min-width: 1260px) {
  .swiper-leagues {
    max-width: 1440px;
    margin: 0 50px;
  }

  .swiper-leagues .swiper-slide:first-child {
    margin-left: 0px;
  }

  .swiper-leagues .swiper-slide:last-child {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1540px) {
  .swiper-leagues {
    margin: 0 auto;
  }
}